<div html: class='login'>
  <h1>Log In</h1>
  <%= form_for :login do |f| %>
    <div>
      <%= f.text_field :email, autofocus: true, placeholder: 'Email' %>
    </div>
    <div>
      <%= f.password_field :password, placeholder: 'Password' %>
    </div>
    <div>
      <%= f.submit 'LOG IN' %>
    </div>
  <% end %>
</div>
