<h1>Choose users to follow</h1>
<div style="overflow-x:auto;">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Group Name</th>
        <th colspan='3'></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.group.name %></td>
          <td><%#= button_to 'Follow', user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
