.relationship_btn, .unfollow {
  width: 200px;
  height: 35px;
  display: block;
  font-family: Arial, 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 0px #37a69b;
  padding-top: 6px;
  cursor: pointer;
  border: none;
}

.follow, .active {
  background-color: orange;
}

.unfollow  {
  background-color: green;
}

.active {
  background-color: red;
}



