html { height: 100% }

.login {
  background: #eceeee;
  border: 1px solid #42464b;
  height: 257px;
  margin: 20px auto 0;
  width: 298px;
}

.login h1 {
  background-image: linear-gradient(top, #f1f3f3, #d4dae0);
  border-bottom: 1px solid #a6abaf;
  box-sizing: border-box;
  color: #727678;
  display: block;
  height: 43px;
  font: 600 14px/1 'Open Sans', sans-serif;
  padding-top: 14px;
  margin: 0;
  text-align: center;
}

input[type='password'], input[type='text'] {
  border: 1px solid #a1a3a3;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 39px;
  margin: 31px 0 0 29px;
  padding-left: 37px;
  transition: box-shadow 0.3s;
  width: 240px;
}

.login_btn {
  width: 240px;
  height: 35px;
  display: block;
  font-family: Arial, 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 0px #37a69b;
  padding-top: 6px;
  margin: 29px 0 0 29px;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #37a69b;
}
